@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background: linear-gradient(113.67deg, #34184A -0.78%, #160F2A 100.71%);;
    color: #ffffff;
}

.light {
    background:  linear-gradient(113.67deg, #EBF1FF -0.78%, #F8FAFF 100.71%);;;
    color: #282828;
}

.dark .button {
    background-color: #983bf6;
    color: #ffffff;
}

.light .button {
    background-color: #28133f;
    color: #ffffff;
}

