@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #19102D;
    color: #ffffff;
}

.light {
    background-color:  #E5E5E5;;
    color: #282828;
}

.dark .button {
    background-color: #983bf6;
    color: #ffffff;
}

.light .button {
    background-color: #28133f;
    color: #ffffff;
}

